:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --darkgrey: hsl(0, 0%, 55%);
    --verydarkgrey: hsl(0, 0%, 41%);
}

body {
    margin: 0;
}

@font-face {
    src: url("assets/fonts/Alata-Regular.ttf");
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}
@font-face {
   src: url("assets/fonts/JosefinSans-VariableFont_wght.ttf");
    font-family: 'Josefin', 'sans-serif';
    font-weight: 500;
}
.main-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.logo {
    width: 20%;
    margin-left: 30px;
}
.right-side {
    width: 75%;
    display: flex;
    justify-content: flex-end
}
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}
.nav-link a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.nav-link a:hover {
    color: var(--darkgrey)
}

#background-image-hero {
    width: 100%;
    height: auto;
}


main {
    background: var(--white);
}

.heading-box {
    position: absolute;
    top: 20%;
    width: 500px;
    height: 100%;
    margin-left: 30px;
}

.heading-box h1 {
    text-transform: uppercase;
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 48px;
    font-family: 'Alata', 'sans-serif';
    padding: 20px;
}

.about {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: relative;
}

.desc-container {
    position: absolute;
    left: 55%;
    bottom: 0;
    background: var(--white);
    padding-left: 40px;
}

.desc-container h2 {
    font-size: 48px;
    text-transform: uppercase;
}

.desc-container p {
    color: var(--darkgrey)
}

.reference-container {
    margin-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.reference-container h2 {
    font-size: 48px;
    text-transform: uppercase;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
}

.main-footer {
    margin-top: 100px;
    padding: 20px;
    background: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-row {
    width: 60%;
    display: flex;
    align-items: center
}

.social-media {
    width: 80%;
    display: flex;
    justify-content: flex-end
}

.social-media a {
    text-decoration: none;
    color: var(--white);
    margin-right: 30px;
    font-size: 26px;
}

.gallery-image {
    position: relative;
}

.gallery-image img {
    max-width: 100%;
    height: 100%;
}

.gallery-image p {
    margin-left: 30px;
    position: absolute;
    bottom: 5%;
    color: var(--white);
    font-size: 30px;
    text-transform: uppercase;
}